@import url('./css-reset.css');
@import url('./fonts.css');
/* Goal: less then 620 lines */

/* General style */
html,
body {
    font-size: 14px;
    min-width: 355px;
    max-width: 1400px;
    text-align: center;
    color: #2d2d2d;
    font-family: Raleway;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Add a container tag */
.container {
    width: 90%;
}

h1,
h2 {
    font-size: 2.5rem;
    font-family: Playfair Display;
    padding: 3rem 0rem 2rem;
}

h3 {
    font-size: 1.8rem;
    font-family: Playfair Display;
    color: #e2574c;
    padding: 1.4rem 0;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
    word-wrap: break-word;
    padding-bottom: 3rem;
}

a {
    color: #e2574c;
}

a:hover {
    color: #b64036;
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0.8rem 0.8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    z-index: 2;
}

.logo {
    height: 3rem;
    padding-bottom: 0.4rem;
}

.cart-group {
    position: relative;
}

.cart {
    height: 3.4rem;
    padding-bottom: 0.5rem;
}

.cart-counter-noshow {
    display: none;
}

p.cart-counter-show {
    height: 0.8rem;
    font-size: 0.8rem;
    position: absolute;
    background-color: #e2574c;
    top: 0;
    right: 0;
    padding: 0.3rem 0.5rem;
    border-radius: 6rem;
    color: white;
    line-height: 1;
    vertical-align: middle;
}

nav {
    padding: 0.6rem;
    width: 100%;
    order: 3;
    display: flex;
    justify-content: space-around;
    border-top: solid 0.002rem #d7d7d7;
}

nav a {
    text-decoration: none;
    font-size: 0.8rem;
}

/* Main Section */
main {
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.background-image-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../images/banner-girl.png'), url('../images/flower-bkgd.jpg');
    background-position: center, bottom, center;
    background-size: cover, 26vh;
    background-repeat: no-repeat;
}

main p {
    color: white;
    padding-bottom: 1rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #525151;
}

main h1 {
    color: white;
    width: 80%;
    word-wrap: break-word;
    padding-top: 0;
    text-shadow: 0.1rem 0.1rem 0.3rem #525151;
}

/* Sections Hand-craft*/
.hand-craft-section h2 {
    padding-bottom: 2rem;
}

/* Section of Select Items */
.select-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 14rem);
}

.select-box {
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Raleway;
    font-size: 1.4rem;
    padding: 0%;
}

.big-card {
    grid-column: span 4;
}

.normal-card {
    grid-column: span 2;
}

.men {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url('../images/mens-category.jpg');
    border-top: solid 0.2rem white;
    border-bottom: solid 0.2rem white;
}

.trends {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url('../images/trends-category.jpg');
    border-bottom: solid 0.2rem white;
    border-right: solid 0.1rem white;
}

.glasses {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url('../images/glasses-category.jpg');
    border-bottom: solid 0.2rem white;
    border-left: solid 0.1rem white;
}

.sale {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url('../images/sale-category.jpg');
    border-right: solid 0.1rem white;
}

.bags {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url('../images/bags-category.jpg');
    border-left: solid 0.1rem white;
}

.womens {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url('../images/womens-category.jpg');
    border-bottom: solid 0.2rem white;
    border-top: solid 0.2rem white;
}

/* Product Cards Section */
.product-cards {
    padding-bottom: 3rem;
}

.product-cards h4,
.product-cards p {
    color: #969696;
    width: 100%;
    padding-bottom: 0;
}

.add-product {
    width: 40%;
    position: relative;
}

.carousel-cell {
    width: 100%;
}

/* Subscriber Section */
.sign-up-section {
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
        ),
        url('../images/wave-bkgd.jpg');
    background-position: bottom;
    background-size: cover;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.3rem #525151;
    border-bottom: solid 0.2rem white;
}

form {
    padding-bottom: 3rem;
    position: relative;
    display: flex;
}

input,
button {
    border-radius: 4rem;
    border: solid white;
    padding: 0.4rem;
    box-shadow: none;
}

input {
    width: 90%;
}

button {
    position: absolute;
    background-color: #e2574c;
    color: white;
    right: 0;
    width: 25%;
}

/* Footer */
footer {
    background-color: #242424;
    color: white;
    font-size: 1rem;
}

li {
    margin: 1rem;
}

li p {
    line-height: 1.6rem;
}

.basic-information-list {
    padding-top: 3rem;
}

.basic-information-list p {
    padding-bottom: 0;
    width: 100%;
}

.address-text {
    color: #969696;
}

.social-media-list {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.social-text {
    display: none;
}

/* Tablet */
@media only screen and (min-width: 600px) {
    /* Section of Select Items - Tablet Version */
    .select-items {
        grid-template-rows: repeat(2, 14rem);
    }

    nav {
        width: 40%;
        order: 0;
        border: none;
    }

    .big-card {
        grid-column: span 2;
    }

    .normal-card {
        grid-column: span 1;
    }

    .men {
        border-top: solid 0.2rem white;
        border-right: solid 0.2rem white;
    }

    .trends {
        border-top: solid 0.2rem white;
        border-right: solid 0.2rem white;
        border-bottom: solid 0.2rem white;
    }

    .glasses {
        border-top: solid 0.2rem white;
        border-bottom: solid 0.2rem white;
    }

    .sale {
        border-right: solid 0.2rem white;
        border-bottom: solid 0.2rem white;
    }

    .bags {
        border-left: none;
        border-right: solid 0.2rem white;
        border-bottom: solid 0.2rem white;
    }

    .womens {
        border-top: none;
        border-bottom: solid 0.2rem white;
    }

    /* Flickty Styles */
    .carousel-cell {
        width: 50%;
    }

    /* Subscription Section - Tablet */
    .container {
        width: 70%;
    }

    /* Footer */
    footer.flex-center {
        flex-direction: row;
        text-align: left;
        padding-bottom: 3rem;
        justify-content: space-between;
    }

    .social-media-list {
        flex-direction: column;
        text-align: left;
    }

    ul.social-media-list,
    .social-media-list li {
        padding: 0%;
        margin: 0%;
    }

    ul.social-media-list {
        width: 20%;
        padding-top: 3rem;
    }

    .social-media-list li {
        width: 100%;
        padding: 0.4rem 0;
    }

    i {
        width: 10%;
        padding-right: 0.4rem;
    }

    .social-text {
        display: inline;
    }
}

@media only screen and (min-width: 1240px) {
    .container {
        width: 50%;
    }
    /* Flickty Styles */
    .carousel-cell {
        width: 25%;
    }
}
